* {
    box-sizing: border-box;
}

body{
 background: #fff;
 font-family:  'Source Sans Pro', sans-serif;
 text-align: justify;


}

main {
    margin: 40px 0;
}
ul {
    list-style: none;
    text-decoration: none;
    display: flex;

}
p{
    padding: 25px;
    margin: 20px;
    line-height: 25px;
    
}

hr, a{
    color: #9C6363;
    
}

hr {
    opacity: 0.1;
}
/* a {
    color: #9C6363;
} */

/* a:hover {
    cursor: pointer;
    color: hsl(180, 22%, 60%);
    transition: ease-in-out;
}
a:visited {
     color: hsl(180, 22%, 60%);
} */

h2 {
    color:  #639C9C;
    text-align: center;
    align-items: center;
    margin: 50px;
    font-size: 5vmax;
    
}

h3{
    color:  #639C9C;
    text-align: center;
    align-items: center;
    font-size: 2vmax;

}
img {
    max-width: 100%;
    height: auto;

}

li {
    list-style-type: none;
}

header {
    background: #639C9C ;
    width: 100vw;
    height: 16vh;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    padding: 10px 20px;
    left: 10px;
    
}  
nav ul {
    display: flex;
    margin: auto, 20px;
    
}

@media(max-width: 450px){
}
   

.nav-item {
 padding-bottom: 10px;
 margin-bottom: 40px;
 font-weight: 350;
 font-size: 20px;
 background-color: hsl(180, 52%, 20%);

}

 .nav-link{
opacity: 1;
font-size: 2em;
text-decoration: none;
margin-left: 20px;
margin-right: 20px;

text-transform: uppercase;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);
animation-name: header;
animation-duration: 1s;
}
.nav-link:hover {
    cursor: pointer;
    transition: ease-in-out;
    color: hsl(180, 22%, 60%)

}



/*intro*/

.about {
    padding: 25px;
    margin: 20px;
    
    
}

.name-div {
    box-shadow: lightslategray;
    text-align: center;
}
.name{
    font-size: 4em;
    margin-bottom: 3rem;
}

.remark{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.name-div_remark {
    font-size: 1.2em;
    font-weight: 300;
    background-color:  #9C6363;
    border-radius: 30%;
    color: hsl(180, 45%, 16%);
    padding: 30px;
}

.intro1, .pictures  {
    display: flex;
    flex-direction: row;
    width: 80vw;
    border: 1px solid #ccc;
    border-radius: 2%;
    margin:20px;
    padding: 25px ;
    box-shadow: 0 10px 20px rgba(0,0,0,0,0.19);
    justify-content: center;
    align-items: center;
    margin-left: 6.6%;
    
}
.about-img {
width: 80vmax;

}

.intro1-p {
    margin: 7px;
    padding: 10px;
}

.intro1-img {
padding: 5px;
margin: 1px;
max-width:100%;
height: auto;
display: block;
}


    

.filmography {
    text-align: justify;
    font-size: 1.5vmax;
    margin-left: 30%;

}

.history, .awards, .achievements {
    width: 80vw;
    border: 1px solid #ccc;
    border-radius: 2%;
    margin:20px;
    padding: 25px ;
    box-shadow: 0 10px 20px rgba(0,0,0,0,0.19);
    justify-content: center;
    align-items: center;
    margin-left: 9%;
    
}



.award-p {
    font-size: 1.8vmax;
    line-height: 25px;
}

.award-link:link {
    color: #9C6363;
    
    
}

.award-link:visited {
    color:  hsl(180, 22%, 60%);
    }

.award-link:hover {

cursor: pointer;
font-size: 1.5vmax;
transition: ease-in-out;
color: hsl(180, 22%, 60%);
}

.award-link:active {
    color: yellow;
}



footer{
    background:  #639C9C;
    text-align: center;
    align-items: center;
    font-size: 2.0vmax;
    line-height: 25px;
    color: #9C6363;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 3;
    width: 100vmax;
}
